---
layout: archive
title: ""
permalink: /positions/
author_profile: true
---

<h1>PhD position</h1>

I'm looking for a PhD student in Computational Biology, see ad <a href="https://www.su.se/english/about-the-university/work-at-su/available-jobs/phd-student-positions-1.507588?rmpage=job&rmjob=16099&rmlang=UK">here</a>. The call is open until 5th of November, 2021. You are welcome to apply through Stockholm University's ReachMee portal at the site of the <a href="https://www.su.se/english/about-the-university/work-at-su/available-jobs/phd-student-positions-1.507588?rmpage=job&rmjob=16099&rmlang=UK">ad</a>. General information below.

<h3>General description</h3>
The group led by Kristoffer Sahlin primarily works on problems in the area of Computational Biology. Computational Biology can be seen as an interdisciplinary research field between Computer Science, Statistics, Mathematics, and Biology. Researchers in Computational Biology typically study and design algorithms, data structures, and statistical models to extract information or gain insights from large biological datasets. 

<h3>Project description</h3>
DNA and RNA play an essential role in determining the state and condition of cells and tissue and, therefore, hold information to study diseases, traits, and evolution. We can now access DNA and RNA sequencing data at a large scale and low cost. However, the computational methods to synthesize information from the data could be improved in many applications. It is important that the information is accurate as the information is used by biological and biomedical researchers to make key contributions towards, e.g., finding cures to diseases. The successful applicant will work with designing accurate and efficient algorithms for common bioinformatic analyses of large sequencing datasets.

<h3>Other information</h3>
We are looking o hire a Ph.D. student who is ambitious and highly motivated by problem-solving. The applicant is expected to have, or be near completion, of a Master's degree (or equivalent knowledge) in a relevant subject such as computer science, mathematics, mathematical statistics, or related field. As a lot of the day-to-day work involves programming, the applicant should have proficiency and an interest in programming. Bioinformatic/biological familiarity or experience with sequencing data is an advantage but is not required. <br>
<br>
The applicant can expect to develop into an interdisciplinary and independent researcher with knowledge in algorithm design and statistical methods, particularly for large-scale life science and biology datasets. The position is available at the Department of Mathematics at Stockholm University in the Division of Computational Mathematics. The group of Kristoffer Sahlin is located at the interdisciplinary research facility SciLifeLab in proximity to the campus of Karolinska Institute, where the working atmosphere is international with English as the working language. <br>
<br>


<h1>BSc and MSc thesis projects</h1>

Contact me for eventual Master's or Bachelors's projects within algorithms in Life Sciences and Bioinformatics. Please mention your academic background and include the courses you took and your grades. I expect you to have knowledge about programming and be highly motivated. 

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
