---
layout: archive
title: ""
permalink: /positions/
author_profile: true
---

<h1>Open positions</h1>

<h2>Postdocs</h2>

I'm looking to hire one or two postdocs in Computational Biology (details below). The call will be open untill the positions are filled.


<h3>The group</h3>

We are located in Stockholm at the Science for Life Laboratory, one of Sweden's most prestigious research institutes. We have acquired funding from competitive funding bodies, and we regularly publish in high-impact venues (see my <a href="https://scholar.google.com/citations?user=IAGyYNEAAAAJ&hl=en">Google Scholar profile</a>). Our research interests broadly span algorithm development and analysis of sequence data. We have ongoing projects on method development for rapid sequence mapping and sequence similarity searches, various computational problems in transcriptomic analysis, and collaborative projects in genome assembly. We also consider your project proposals if it aligns with the group's research programs.


<h3>Qualifications</h3>

It is preferred if applicants have experience in relevant areas such as algorithms and data structures for genomic or transcriptomic analysis, or have developed efficient software for analyzing high-throughput sequencing data. 

The ideal applicant has:

<ul>
  <li>A Ph.D. in Computer Science</li>
  <li>Strong skills in at least one of the following languages: C/C++, Rust, Python</li>
  <li>Published papers in English</li>
  <li>Experience with analyzing sequencing data</li>
  <li>Good communication skills</li>
</ul>

<h3>To apply</h3>

To apply, please send a letter of interest and current CV to <a href="mailto:ksahlin@math.su.se">ksahlin@<span style="display:none;">math-</span>.su.se</a>. In addition, for qualified applicants, I might ask you for a couple of recommendation letters or their contact details. Applications will be reviewed until the positions are filled. Questions should be directed to me at <a href="mailto:ksahlin@math.su.se">ksahlin@<span style="display:none;">math-</span>.su.se</a>.



<!-- <h1>PhD position</h1>

I'm looking for a PhD student in Computational Biology, see ad <a href="https://www.su.se/english/about-the-university/work-at-su/available-jobs/phd-student-positions-1.507588?rmpage=job&rmjob=16099&rmlang=UK">here</a>. The call is open until 5th of November, 2021. You are welcome to apply through Stockholm University's ReachMee portal at the site of the <a href="https://www.su.se/english/about-the-university/work-at-su/available-jobs/phd-student-positions-1.507588?rmpage=job&rmjob=16099&rmlang=UK">ad</a>. General information below.

<h3>General description</h3>
The group led by Kristoffer Sahlin primarily works on problems in the area of Computational Biology. Computational Biology can be seen as an interdisciplinary research field between Computer Science, Statistics, Mathematics, and Biology. Researchers in Computational Biology typically study and design algorithms, data structures, and statistical models to extract information or gain insights from large biological datasets. 

<h3>Project description</h3>
DNA and RNA play an essential role in determining the state and condition of cells and tissue and, therefore, hold information to study diseases, traits, and evolution. We can now access DNA and RNA sequencing data at a large scale and low cost. However, the computational methods to synthesize information from the data could be improved in many applications. It is important that the information is accurate as the information is used by biological and biomedical researchers to make key contributions towards, e.g., finding cures to diseases. The successful applicant will work with designing accurate and efficient algorithms for common bioinformatic analyses of large sequencing datasets.

<h3>Other information</h3>
We are looking o hire a Ph.D. student who is ambitious and highly motivated by problem-solving. The applicant is expected to have, or be near completion, of a Master's degree (or equivalent knowledge) in a relevant subject such as computer science, mathematics, mathematical statistics, or related field. As a lot of the day-to-day work involves programming, the applicant should have proficiency and an interest in programming. Bioinformatic/biological familiarity or experience with sequencing data is an advantage but is not required. <br>
<br>
The applicant can expect to develop into an interdisciplinary and independent researcher with knowledge in algorithm design and statistical methods, particularly for large-scale life science and biology datasets. The position is available at the Department of Mathematics at Stockholm University in the Division of Computational Mathematics. The group of Kristoffer Sahlin is located at the interdisciplinary research facility SciLifeLab in proximity to the campus of Karolinska Institute, where the working atmosphere is international with English as the working language. <br>
<br> -->




<h1>BSc and MSc thesis projects</h1>

Contact me for eventual Master's or Bachelors's projects within algorithms in Life Sciences and Bioinformatics. Please mention your academic background and include the courses you took and your grades. I expect you to have knowledge about programming and be highly motivated. 

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
